body {
  font-family: 'Times New Roman', Times, serif;
  background-image: url(../img/background-principal.jpg);
}
.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container {
  padding: 0px;
}
img {
  border-radius: 1.25mm;
}
.jumbotron {
  color: black;
  background: #2400f2;
  background: -webkit-linear-gradient(to right, #2400f2, #2400f2);
  background: linear-gradient(to right, #2400f2, #95c6f5);
  margin-top: 15px;
  margin-bottom: 20px;
}
.card {
  background-color: #fbfbfb;
}
.footer {
  padding: 10px 10px 0 10px;
  background: #2400f2;
  background: -webkit-linear-gradient(to right, #2400f2 #2400f2);
  background: linear-gradient(to right, #2400f2, #2400f2);
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-description {
  flex: 1 150px;
  padding: 10px 10px 10px 10px;
}
.card-hotel {
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 2px 10px;
}
.estrellas {
  color: blue;
}
.btn {
  background-color: blue;
  border: 0;
  background: blue;
  display: black;
  margin: 5px auto;
  text-align: center;
  border: 2px solid #72f8e2;
  padding: 5px 20px;
  color: white;
  border-radius: 10px;
  transition: 0.25s;
  cursor: pointer;
}
#descripcion {
  background-color: #fbfbfb;
  border-radius: 10px;
}
.btn-reserva {
  width: 100%;
}
.btn-hotel {
  width: 100%;
}
p {
  margin-top: 10px;
}
.check-list li {
  list-style-type: none;
}
.icons {
  padding-right: 5px;
}
.btn-model {
  background-color: white;
  border-radius: 5px;
  transition: 0.25s;
}
